<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <style>
        * {
            margin: 0;
        }

        form fieldset {
            height: 80%;
            width: 80%;
            margin: 50px auto;
        }

        form fieldset div {
            text-align: center;
        }
    </style>
</head>
<body>
<form action="/javaFileUpload" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend>开始赞美棒哥</legend>
        <div>
            <label>密钥：<input name="privateKey" title="密钥" type="password"></label>
        </div>
        <div>
            <p>选择文件: <input accept=".java" name="fileName" type="file"/></p>
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </fieldset>
</form>
</body>
</html>